:root {
  --hover-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --main-color: #212121;
  --secondary-color: #ffffff;
  --hover-color: #2196f3;
  --button-bg-color: #2196f3;
  --description-color: #757575;
  --footer-bg-color: #2f303a;
  --main-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --contact-color: #757575;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.clients__link, .benefits-list__wrapper, .modal-close-btn, .social-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--main-color);
  font-size: 14px;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity var(--hover-animation), visibility var(--hover-animation);
}
.mobile-menu__cotainer {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 48px 40px;
  height: 100%;
}
.mobile-menu__cloce-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 0;
  line-height: 0;
  background-color: transparent;
  border: none;
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu__list {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  margin-bottom: auto;
}
.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  color: var(--main-color);
  letter-spacing: 0.02em;
}
.mobile-menu__akcent {
  color: var(--hover-color);
}

.mobile-menu-contact__list {
  margin-bottom: 64px;
}
.mobile-menu-contact__item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-menu-contact__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.mobile-menu-contact__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  color: var(--contact-color);
}

.mobile-menu-social {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.mobile-menu-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.social {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: fill var(--hover-animation), background-color var(--hover-animation);
}
.social-link:hover, .social-link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.social-icon {
  width: 20px;
  height: 20px;
}

.logo {
  display: block;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: var(--hover-color);
}

@media screen and (min-width: 1200px) {
  .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923076923;
  }
}
.button {
  border: none;
  border-radius: 4px;
  min-width: 200px;
  min-height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
  background-color: var(--button-bg-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--hover-animation);
}
.button:hover, .button:focus {
  background-color: #188ce8;
}

.section-title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--hover-animation), visibility var(--hover-animation);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 450px;
  width: calc(100% - 30px);
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  transition: transform var(--hover-animation);
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
}

.modal-close-btn-icon {
  transition: fill var(--hover-animation);
}
.modal-close-btn-icon .modal-close-btn-icon {
  fill: var(--hover-color);
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
  }
}
.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
}
.modal-close-btn__icon {
  transition: fill var(--hover-animation);
}
.modal-close-btn__icon:hover, .modal-close-btn__icon:focus {
  fill: var(--hover-color);
  transition: fill var(--hover-animation);
}

.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 12px;
}
.modal-form__field {
  margin-bottom: 10px;
}
.modal-form__desc {
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--description-color);
  margin-bottom: 4px;
}
.modal-form__wrapper {
  position: relative;
}
.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color var(--hover-animation);
}
.modal-form__input:focus {
  outline: none;
  border-color: var(--hover-color);
}
.modal-form__field-comment {
  margin-bottom: 20px;
}
.modal-form__comment {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--hover-animation);
}
.modal-form__input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  transition: fill var(--hover-animation);
}
.modal-form__comment:focus {
  outline: none;
  border-color: var(--hover-color);
}
.modal-form__input:focus + .modal-form__input-icon {
  fill: var(--hover-color);
}

.modal-check__desc {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.modal-check__custom {
  margin-right: 8px;
  width: 16px;
  height: 15px;
  cursor: pointer;
  background-image: url(../images/vector.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.modal-check__input:checked + .modal-check__custom {
  background-image: url(../images/check.svg);
}
.modal-check__input:focus + .modal-check__custom {
  outline: 2px solid var(--hover-color);
}
.modal-check__link {
  color: var(--hover-color);
}
.modal-check__label {
  cursor: pointer;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
}
@media screen and (min-width: 1200px) {
  .modal-check__label {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7142857143;
  }
}

.modal-form__button {
  margin-left: auto;
  margin-right: auto;
}

.header {
  border-bottom: 1px solid #ececec;
}
.header__logo {
  padding-top: 16px;
  padding-bottom: 16px;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__studio {
  color: var(--main-color);
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
  .contact {
    display: none;
  }
  .mobile-menu-open {
    padding: 0;
    background-color: transparent;
    border: none;
    line-height: 0;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu-open {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .header__nav {
    display: flex;
    align-items: center;
  }
  .header__logo {
    margin-right: 88px;
  }
  .menu {
    display: flex;
    gap: 50px;
  }
  .menu__link {
    position: relative;
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428571429;
    letter-spacing: 0.02em;
    color: var(--description-color);
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .menu__akcent {
    color: var(--hover-color);
  }
  .menu__akcent::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 4px;
    width: 100%;
    background-color: var(--hover-color);
    border-radius: 2px;
  }
  .contact {
    display: flex;
  }
  .contact__link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.1666666667;
    letter-spacing: 0.02em;
    color: var(--description-color);
  }
  .contact__mail-icon {
    width: 14px;
    height: 10px;
    fill: currentColor;
    margin-right: 8px;
  }
  .contact__tel-icon {
    width: 10px;
    height: 14px;
    fill: currentColor;
    margin-right: 8px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact {
    flex-direction: column;
    row-gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
  .menu__link {
    transition: color var(--hover-animation);
    content: "";
  }
  .menu__link:hover, .menu__link:focus {
    color: var(--hover-color);
  }
  .menu__link:hover::after, .menu__link:hover::after, .menu__link:focus::after, .menu__link:focus::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 4px;
    width: 100%;
    background-color: var(--hover-color);
    border-radius: 2px;
  }
  .menu__link::after {
    transition: background-color var(--hover-animation);
    content: "";
  }
  .contact {
    column-gap: 30px;
  }
  .contact__link {
    padding: 32px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428571429;
    transition: color var(--hover-animation);
  }
  .contact__link:hover, .contact__link:focus {
    color: var(--hover-color);
  }
  .contact__mail-icon {
    width: 16px;
    height: 12px;
    margin-right: 10px;
  }
  .contact__tel-icon {
    width: 10px;
    height: 16px;
    margin-right: 10px;
  }
}
.hero {
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 1600px;
  text-align: center;
  background-color: #c4c4c4;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 480px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/index/hero_bg/mobile/hero_bg.jpg);
  }
}
@media screen and (max-width: 480px) and (min-device-pixel-ration: 2), screen and (max-width: 480px) and (min-resolution: 192dpi), screen and (max-width: 480px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/index/hero_bg/mobile/hero_bg@2x.jpg);
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/index/hero_bg/tablet/hero_bg.jpg);
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) and (min-device-pixel-ration: 2), screen and (min-width: 481px) and (max-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (max-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/index/hero_bg/tablet/hero_bg@2x.jpg);
  }
}
@media screen and (min-width: 769px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/index/hero_bg/desktop/hero_bg.jpg);
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ration: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/index/hero_bg/desktop/hero_bg@2x.jpg);
  }
}
.hero__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-color);
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3636363636;
    max-width: 696px;
  }
}
.benefits-list__item {
  flex-basis: 100%;
}
.benefits-list__wrapper {
  height: 120px;
  background-color: var(--secondary-bg-color);
  border-radius: 4px;
  margin-bottom: 30px;
}
.benefits-list__icon {
  width: 70px;
  height: 70px;
}
.benefits-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.benefits-list__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--description-color);
}

@media screen and (max-width: 767px) {
  .benefits-list__title {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .benefits-list__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .benefits-list__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}
@media screen and (max-width: 1199px) {
  .whot-we-do {
    display: none;
  }
}
.whot-we-do {
  padding-top: 0;
}
.whot-we-do__list {
  flex-basis: calc((100% - 30px) / 2);
}
.whot-we-do__wrapper {
  position: relative;
}
.whot-we-do__overlay {
  position: absolute;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  bottom: 0;
  left: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  color: var(--secondary-color);
}

.team {
  background-color: var(--secondary-bg-color);
}
.team__item {
  flex-basis: 100%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--main-bg-color);
}
.team__wrapper {
  padding-top: 30px;
  padding-bottom: 24px;
}
.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  text-align: center;
}
.team__profession {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--description-color);
  text-align: center;
}
.team__social-link {
  fill: #afb1b8;
  background-color: #ffffff;
}

@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc((100% - 90px) / 4);
  }
  .team__wrapper {
    padding-bottom: 30px;
  }
}
.clients__item {
  flex-basis: calc((100% - 30px) / 2);
}
.clients__link {
  width: 100%;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition: fill var(--hover-animation), border-color var(--hover-animation);
}
.clients__link:hover, .clients__link:focus {
  border-color: var(--hover-color);
  fill: var(--hover-color);
}
.clients__icon {
  width: 106px;
  height: 60px;
}

@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc((100% - 150px) / 6);
  }
}
.footer {
  padding: 60px 0;
  background-color: var(--footer-bg-color);
}
.footer__logo {
  margin-bottom: 20px;
}
.footer__logo_white {
  color: var(--secondary-color);
}
.footer__wrapper {
  margin-bottom: 60px;
}
.footer__title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  margin-bottom: 20px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.address__list:not(:last-child) {
  margin-bottom: 8px;
}
.address__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  transition: color var(--hover-animation);
}
.address__link_white {
  color: var(--secondary-color);
}
.address__link_dark {
  color: rgba(255, 255, 255, 0.6);
}
.address__link:hover, .address__link:focus {
  color: var(--hover-color);
}

.join {
  margin-bottom: 60px;
}
.join__social-link {
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-form__field {
  display: block;
  margin-bottom: 20px;
}
.footer-form__input {
  padding: 15px 16px;
  width: 100%;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--secondary-color);
  outline: none;
  transition: border-color var(--hover-animation);
}
.footer-form__input:focus {
  border-color: var(--hover-color);
}
.footer-form__button {
  display: flex;
  align-items: center;
  padding: 8px 28px;
  margin-left: auto;
  margin-right: auto;
}
.footer-form__icon {
  width: 24px;
  height: 24px;
  margin-left: auto;
}

@media screen and (max-width: 1199px) {
  .footer {
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .footer-form-wrapper {
    width: 450px;
  }
}
@media screen and (min-width: 1199px) {
  .footer-container {
    display: flex;
    align-items: baseline;
  }
  .footer__wrapper {
    margin-right: 70px;
    margin-bottom: 0;
  }
  .join {
    margin-right: auto;
  }
  .footer-form {
    display: flex;
  }
  .footer-form__field {
    margin-bottom: 0;
  }
  .footer-form__input {
    width: 358px;
    margin-right: 12px;
  }
  .footer-form__button {
    margin-top: auto;
  }
}
.portfolio-list-button {
  display: flex;
  margin-bottom: 40px;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 15px;
}

.portfolio-button {
  transition: background-color var(--hover-animation), color var(--hover-animation), box-shadow var(--hover-animation);
  padding: 6px 22px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  border-radius: 4px;
}
.portfolio-button:hover, .portfolio-button:focus {
  cursor: pointer;
  background-color: var(--hover-color);
  color: var(--secondary-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.akcent-btn {
  background-color: var(--hover-color);
  color: var(--secondary-color);
}

@media screen and (min-width: 768px) {
  .portfolio-list-button {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-list-button {
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio-list-button {
    justify-content: center;
  }
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-item {
  background: #ffffff;
  flex-basis: 100%;
}

.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay {
  transform: translate(0, 0);
}

.portfolio-link {
  display: block;
  transition: box-shadow var(--hover-animation);
}
.portfolio-link:hover, .portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list-img-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translate(0, 100%);
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform var(--hover-animation);
}

.portdolio-iteam-desc {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.subtitle {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}

.portfolio-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--description-color);
}

@media screen and (min-width: 768px) {
  .portfolio-item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-item {
    flex-basis: calc((100% - 60px) / 3);
  }
}/*# sourceMappingURL=main.css.map */