.header {
  border-bottom: 1px solid #ececec;
  &__logo {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header__studio {
  color: var(--main-color);
}

@media screen and(max-width: 767px) {
  .menu {
    display: none;
  }
  .contact {
    display: none;
  }
  .mobile-menu-open {
    padding: 0;
    background-color: transparent;
    border: none;
    line-height: 0;
  }
}
@media screen and(min-width: 768px) {
  .mobile-menu-open {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .header {
    &__nav {
      display: flex;
      align-items: center;
    }
    &__logo {
      margin-right: 88px;
    }
  }
  .menu {
    display: flex;
    gap: 50px;
    &__link {
      position: relative;
      display: block;
      @include font(500);
      letter-spacing: 0.02em;
      color: var(--description-color);
      padding-top: 32px;
      padding-bottom: 32px;
    }
    &__akcent {
      color: var(--hover-color);
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        height: 4px;
        width: 100%;
        background-color: var(--hover-color);
        border-radius: 2px;
      }
    }
  }
  .contact {
    display: flex;
    &__link {
      display: flex;
      align-items: center;
      @include font(500, 12px, 14px);
      letter-spacing: 0.02em;
      color: var(--description-color);
    }
    &__mail-icon {
      width: 14px;
      height: 10px;
      fill: currentColor;
      margin-right: 8px;
    }
    &__tel-icon {
      width: 10px;
      height: 14px;
      fill: currentColor;
      margin-right: 8px;
    }
  }
}

@media screen and(min-width: 768px) and(max-width: 1199px) {
  .contact {
    flex-direction: column;
    row-gap: 10px;
  }
}

@media screen and(min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
  }

  .menu {
    &__link {
      transition: color var(--hover-animation);
      content: '';
      &:hover,
      &:focus {
        color: var(--hover-color);

        &::after,
        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          right: 0;
          height: 4px;
          width: 100%;
          background-color: var(--hover-color);
          border-radius: 2px;
        }
      }
      &::after {
        transition: background-color var(--hover-animation);
        content: '';
      }
    }
  }
  .contact {
    column-gap: 30px;

    &__link {
      padding: 32px 0;
      @include font(500);
      transition: color var(--hover-animation);

      &:hover,
      &:focus {
        color: var(--hover-color);
      }
    }
    &__mail-icon {
      width: 16px;
      height: 12px;
      margin-right: 10px;
    }
    &__tel-icon {
      width: 10px;
      height: 16px;
      margin-right: 10px;
    }
  }
}
//   &__container {
//     display: flex;
//   }
//   &__nav {
//     margin-right: auto;
//     display: flex;
//   }
// }
// .nav {
//   &__logo {
//     margin-right: 93px;
//   }
// }

// .logo {
//   &__studio {
//     color: var(--main-color);
//   }
// }
// .menu {
//   display: flex;
//   gap: 50px;

//   &__item {
//     position: relative;
//   }

//   &__link {
//     padding-top: 32px;
//     padding-bottom: 32px;
//     display: block;
//     @include font(500);
//     letter-spacing: 0.02em;
//     color: var(--main-text-color);
//     transition: color var(--hover-animation);

//     &::after {
//       content: '';
//       transition: background-color var(--hover-animation);
//     }

//     &:hover,
//     &:focus {
//       color: var(--hover-color);

//       &::after,
//       &::after {
//         content: '';
//         position: absolute;
//         bottom: 0;
//         right: 0;
//         height: 4px;
//         width: 100%;
//         background-color: var(--hover-color);
//         border-radius: 2px;
//       }
//     }
//   }
//   &__link_akcent {
//     color: var(--hover-color);
//     &::after {
//       content: '';
//       position: absolute;
//       bottom: 0;
//       right: 0;
//       height: 4px;
//       width: 100%;
//       background-color: var(--hover-color);
//       border-radius: 2px;
//     }
//   }
// }

// .contact {
//   display: flex;
//   gap: 50px;

//   &__link {
//     display: flex;
//     padding-top: 32px;
//     padding-bottom: 32px;
//     align-items: center;
//     @include font(500);
//     letter-spacing: 0.02em;
//     color: #757575;
//     transition: color var(--hover-animation);

//     &:hover,
//     &:focus {
//       color: var(--hover-color);
//     }
//   }

//   &__mail-icon {
//     width: 16px;
//     height: 12px;
//     fill: currentColor;
//     margin-right: 10px;
//   }

//   &__tel-icon {
//     width: 10px;
//     height: 16px;
//     fill: currentColor;
//     margin-right: 10px;
//   }
// }
