.header {
  border-bottom: 1px solid #ececec;
}

@media screen and(max-width: 767px) {
  .menu {
    display: none;
  }
  .contact {
    display: none;
  }
  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .mobile-menu-open {
    padding: 0;
    background-color: transparent;
    border: none;
    line-height: 0;
  }
}

//   &__container {
//     display: flex;
//   }
//   &__nav {
//     margin-right: auto;
//     display: flex;
//   }
// }
// .nav {
//   &__logo {
//     margin-right: 93px;
//   }
// }

// .logo {
//   &__studio {
//     color: var(--main-color);
//   }
// }
// .menu {
//   display: flex;
//   gap: 50px;

//   &__item {
//     position: relative;
//   }

//   &__link {
//     padding-top: 32px;
//     padding-bottom: 32px;
//     display: block;
//     @include font(500);
//     letter-spacing: 0.02em;
//     color: var(--main-text-color);
//     transition: color var(--hover-animation);

//     &::after {
//       content: '';
//       transition: background-color var(--hover-animation);
//     }

//     &:hover,
//     &:focus {
//       color: var(--hover-color);

//       &::after,
//       &::after {
//         content: '';
//         position: absolute;
//         bottom: 0;
//         right: 0;
//         height: 4px;
//         width: 100%;
//         background-color: var(--hover-color);
//         border-radius: 2px;
//       }
//     }
//   }
//   &__link_akcent {
//     color: var(--hover-color);
//     &::after {
//       content: '';
//       position: absolute;
//       bottom: 0;
//       right: 0;
//       height: 4px;
//       width: 100%;
//       background-color: var(--hover-color);
//       border-radius: 2px;
//     }
//   }
// }

// .contact {
//   display: flex;
//   gap: 50px;

//   &__link {
//     display: flex;
//     padding-top: 32px;
//     padding-bottom: 32px;
//     align-items: center;
//     @include font(500);
//     letter-spacing: 0.02em;
//     color: #757575;
//     transition: color var(--hover-animation);

//     &:hover,
//     &:focus {
//       color: var(--hover-color);
//     }
//   }

//   &__mail-icon {
//     width: 16px;
//     height: 12px;
//     fill: currentColor;
//     margin-right: 10px;
//   }

//   &__tel-icon {
//     width: 10px;
//     height: 16px;
//     fill: currentColor;
//     margin-right: 10px;
//   }
// }
