:root {
  --hover-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --main-color: #212121;
  --secondary-color: #ffffff;
  --hover-color: #2196f3;
  --button-bg-color: #2196f3;
  --description-color: #757575;
  --hero-footer-bg-color: #2f303a;
  --main-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --contact-color: #757575;
}
